<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ravlyk.SAE5.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Ravlyk.SAE5.WinForms.Properties.Settings>
      <setting name="LastOpenFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="Locale" serializeAs="String">
        <value />
      </setting>
      <setting name="ManiFormState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="SchemeSplitterMainPosition" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SchemeSplitterInfoPosition" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SchemeInfoVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SchemePaletteCompactMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintPageMargins" serializeAs="String">
        <value>50, 50, 50, 100</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrintPageLandscape" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserPalettesLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckForUpdatesAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OwnSymbols" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OwnSymbolsColor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="Owner" serializeAs="String">
        <value />
      </setting>
      <setting name="OwnerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="PDFPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="PictureName" serializeAs="String">
        <value />
      </setting>
      <setting name="PermitPrint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PermitModifyDocument" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PermitAssembleDocument" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PermitExtractContent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PermitAccessibilityExtractContent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PermitAnnotations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PermitFormsFill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PermitFullQualityPrint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintDeckblatt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintEtiketten" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Logo" serializeAs="String">
        <value />
      </setting>
      <setting name="MobileSetup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Symbol" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrintScheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isLizenzValid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isLizenzDemo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isLizenzCommerc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EtiUmrandung" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mystery" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Stitchplate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlateHight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlateWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="S" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TicTacEti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RundEti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForeName" serializeAs="String">
        <value>Ralf</value>
      </setting>
      <setting name="SureName" serializeAs="String">
        <value>Kostka</value>
      </setting>
      <setting name="FT1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FT2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FT3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FT4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FT5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FT6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FT7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FT8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FT9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FT10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MysteryPic" serializeAs="String">
        <value />
      </setting>
      <setting name="SymFull" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SymNormal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Line10Dbl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowRulers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLines" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CutLines" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SchemeLegend" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SchemeLogo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LegendLeft" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PageInfos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WithoutDMC" serializeAs="String">
        <value>False</value>
      </setting>
    </Ravlyk.SAE5.WinForms.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>